<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madassignment">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/LACC_Fashion"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".shopping_cart" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1129430547781038~2285580589" />

        <service android:name=".services.MyFirebaseInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ShippingOption" />
        <activity
            android:name=".Faq_voucher"
            android:parentActivityName=".FAQ">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FAQ" />
        </activity>
        <activity
            android:name=".Faq_return"
            android:parentActivityName=".FAQ">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FAQ" />
        </activity>
        <activity
            android:name=".Faq_PaymentInquiries"
            android:parentActivityName=".FAQ">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FAQ" />
        </activity>
        <activity
            android:name=".Faq_OrderingInquiries"
            android:parentActivityName=".FAQ">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FAQ" />
        </activity>
        <activity
            android:name=".Faq_delivery"
            android:parentActivityName=".FAQ">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FAQ" />
        </activity>
        <activity
            android:name=".FAQ"
            android:parentActivityName=".MainPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainPage" />
        </activity> <!-- KIDS -->
        <activity
            android:name=".kids10"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".kids9"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".kids8"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".kids7"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".kids6"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".kids5"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".kids4"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".kids3"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".kids2"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".kids1"
            android:parentActivityName=".ProductList" /> <!-- WOMEN -->
        <activity
            android:name=".women10"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".women9"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".women8"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".women7"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".women6"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".women5"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".women4"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".women3"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".women2"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".women1"
            android:parentActivityName=".ProductList" />
        <!-- MEN -->
        <activity
            android:name=".men10"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".men9"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".men8"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".men7"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".men6"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".men5"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".men4"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".men3"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".men2"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".men1"
            android:parentActivityName=".ProductList" />
        <activity
            android:name=".ProductList"
            android:parentActivityName=".MainPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainPage" />
        </activity>
        <activity android:name=".PaymentDetail" />
        <activity
            android:name=".ContactUs"
            android:parentActivityName=".MainPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainPage" />
        </activity>
        <activity
            android:name=".AboutUs"
            android:parentActivityName=".MainPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainPage" />
        </activity>
        <activity
            android:name=".Offer_45"
            android:parentActivityName=".MainPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainPage" />
        </activity>
        <activity
            android:name=".MainPage"
            android:label="@string/app_name_3"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".signUp"
            android:label="@string/app_name_2" />
        <activity
            android:name=".Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>